/* General body styles */
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* styles for id index.html background image */
#start {
    background-image: url(../images/startgame.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

/* styles for the PLAY BUTTON */
.start-game {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

/* HOOVER PLAY BUTTON */
.start-game:hover {
    background-color: #0056b3;
}


/* Background image under GAME canvas game.html*/
.game {
    display: flex;
    background-image: url(../images/playbackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

/* Styles for the canvas (game background, border)*/
#board {
    background-image: url(../images/background.png);
    border: 5px solid black;
    border-radius: 25px;
    background-size: cover;
}

/* Styles for index.html Title*/
div>h1 {
    font-size: 50px;
    color: black;
    text-align: center;
    margin: 10px 0;
}

/* Styles for index.html HOW TO PLAY? */
div>h2 {
    font-size: 40px;
    color: black;
    text-align: center;
    margin: 10px 0;
}

/* Styles for index.html GAME INSTRUCTIONS */
div>h3 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 10px 0;
}

/* Styles for index.html BOTTON INNER TEXT */
a {
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

/* Styles for MEDIA QUERIES 768px screen */
@media (max-width: 768px) {

    /* styles for id index.html background image */
    #start {
        background-repeat: repeat;
    }

    div>h1 {
        font-size: 50px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    div>h2 {
        font-size: 45px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    div>h3 {
        font-size: 25px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    a {
        display: flex;
        justify-content: space-evenly;
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
}

/* Styles for MEDIA QUERIES 480px screen */
@media (max-width: 480px) {

    /* styles for id index.html background image */
    #start {
        background-repeat: repeat;
    }

    div>h1 {
        font-size: 30px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    div>h2 {
        font-size: 25px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    div>h3 {
        font-size: 14px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    a {
        display: flex;
        justify-content: space-evenly;
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
}

/* Styles for MEDIA QUERIES 375px screen */
@media (max-width: 375px) {

    /* styles for id index.html background image */
    #start {
        background-repeat: repeat;
    }

    div>h1 {
        font-size: 30px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    div>h2 {
        font-size: 25px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    div>h3 {
        font-size: 14px;
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    a {
        display: flex;
        justify-content: space-evenly;
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
}