body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #92A664;
}

#board {
    background-image: url(../images/background.png);
    border: 1px solid black;
    border-radius: 25px;
    background-size: cover;
}